
#sub_wrap h2:after {
    content: "";
    background: #c5c5c5;
    width: 100%;
    height: 1px;
    display: inline-block;
    margin: 0 0 8px;
  }
  #sub_wrap .contents-wrap {
    height: 88%;
  }
  
  .screen-img_wrap {
    width: 100%;
    background: #f3f3f3;
    padding: 10px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    height: 85%;
  }
  .screen-img_wrap .screen-img {
    height: 100%;
  }
  .screen-img_wrap img {
    max-width: 100%;
    height: 100%;
  }
  .screen-img_wrap .img-title {
    background: #2f303b;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 12%;
    transform: translate(-50%);
    padding: 5px;
    color: #fff;
  }
  
  .screen-control {
    
    border-radius: 5px;
    margin-top: 10px;
    padding: 0 4%;
    height: 6%;
  }
  .screen-control ul {
    padding: 0 2%;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    height: 100%;
  }
  .screen-control ul li {
    background: linear-gradient(45deg, #10c5b7, #2ad391);    
    width: 100%;
    text-align: center; 
    color: #fff;     
    margin: 0 1px;
   
  }  
  .screen-control ul li.active {
    background: linear-gradient(45deg, #10c5b7, #2ad391); 
    animation:ball 3s ease-in Alternate;
    /* animation-iteration-count:2 */
  }
  /* .screen-control ul li:active {
    background: #40404d;  transition: all 5s ease;
    animation:ball 1s ease-in Alternate;
  } */
  @keyframes ball {
    0% {
        background: rgb(9, 255, 120);
    }
    40% {
      background: #40404d;
    }
    to {
      background: linear-gradient(45deg, #10c5b7, #2ad391); 
    } 
}
  .screen-control ul li.active button {
    color: #fff;
    width: 100%;
    padding: 10px 0;
  }

  .screen-control ul li button {
   background: none;
   border: none;height: 100%;
  }
  .screen-control ul li:hover button {
    color: #fff;
    width: 100%;
    height: 100%;
  }
      /*  ///////////////////기기별사이즈 ///////////////////          */
   @media screen and (max-width: 1024px) {
    .screen-control ul li button{font-size: 14px;}
    }
      /* 테블릿 */
      @media screen and (max-width: 768px) {
        .screen-control ul li button{font-size: 13px;}
    }
             
       /* 모바일 */
      @media (min-width: 320px) and (max-width: 480px) {
        
        }